
:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #fff;
    font-size: 1.6rem;
}


ul, ol, li, details, summary {list-style: none;}

button {
    border: none;
    border-radius: 4px;
    padding: 1rem;
}


main {
    background: #2d2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#dropdown1 {

    // background: #f1f1f1ff;
    // padding: 1rem;
    position: fixed;
    
    button {
        background: #444;
        border-radius: 0px;
        color: #fff;
        &:hover {filter: brightness(1.1)}
        &:active {filter: brightness(.9)}
        width: 13rem;
    }

    ul {
        position: absolute;
        top: 106%;
        left: 0;
        display: flex;
        flex-flow: nowrap column;
        // gap: .1rem;
        display: none;

        animation: dropdown1 250ms ease;     
    }
    > button[aria-expanded='true'] ~ ul{
        display: block;
    }


}

@keyframes dropdown1 {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }
}